@font-face {
  font-family: Play;
  src: url('../src/assets/fonts/Play-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme{
  --font-play: Play, "sans-serif";
}
:root {
  --color-bg: #f3f4f6;
  --color-bg-secondary: #ffffff;
  --color-text: #1f2937;
  --color-primary: #1D4ED8;
  --color-secondary: #2563EB;
}

.dark {
  --color-bg: #111827;
  --color-bg-secondary: #1f2937;
  --color-text: #e5e7eb;
  --color-primary: #3b82f6;
  --color-secondary: #60a5fa;
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-play);
}
