@font-face {
  font-family: Play;
  src: url('../src/assets/fonts/Play-Regular.ttf');
  /*Si luego no carga, @/assets/fonts/Play-Regular.ttf o new URL('./assets/fonts/Play-Regular.ttf', import.meta.url) */
  font-weight: 400;
  font-style: normal;
}
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme{
  --font-play: Play, "sans-serif";
}

body {
  @apply bg-gray-100 text-gray-800 font-mono;
}

a {
  @apply no-underline;
}

button {
  @apply font-play bg-green-500 text-white px-4 py-2 rounded hover:bg-red-700 transition;
}